:root {
  --purple: #937DC2;
  --pink: #FF9494;
  --blue: #6082c7;
  --dark-blue: #193c6a;
  --black: black;
  --white: white;
  --beige: #ffedd3;
  --yellow: #ffe5a8;
  --light-gray: #c8c8c8;
  --medium-gray: #b7b7b7;
  --dark-gray: #8c8c8c;
}

body, body.light {
  --accent-one: var(--purple);
  --accent-two: var(--pink);
  --foreground: var(--dark-blue);
  --foreground-accent: var(--blue);
  --background: var(--beige);
  --element-background: var(--yellow);
}

body.dark {
  --accent-one: var(--purple);
  --accent-two: var(--pink);
  --foreground: var(--beige);
  --foreground-accent: var(--blue);
  --background: var(--dark-blue);
  --element-background: var(--blue);
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 400ms ease, color 400ms ease;
}
