.player-bar .top {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--light-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
}

.player-bar .top .score {
  width: 25px;
  height: 25px;
  font-size: 12px;
  border-radius: 3px;
  border: 3px solid var(--foreground);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  font-weight: 600;
}

.player-bar .top > div {
  flex-basis: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}


.game .score.p1 {
  border-color: var(--p1);
}

.game .score.p2 {
  border-color: var(--p2);
}